* {
  margin: 0;
  font-family: "Rubik", sans-serif;
}
.footer-container {
  background-color: rgb(28, 28, 28);
  padding: 10px;
  color: white;
  font-weight: 400;
}
.footer-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 40px;
}
.footer-nav a {
  text-decoration: none;
  margin: 10px;
  font-size: 18px;
  font-weight: bold;
  color: aliceblue;
}
.nav a:hover {
  color: #f73a00;
}
.footer-message {
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-size: 18px; */
  /* font-weight: bold; */
  background-color: #2e2e2e;
  padding: 10px;
  color: white;
}
.copyright-text a {
  text-decoration: none;
  color: aliceblue;
}
.copyright-text a:hover {
  color: #f73a00;
}
